## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [6]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [7]:
len(string_01) - string_01.count(' ')

225

2. Посчитайте, сколько в строке слов.

In [8]:
string_01= string_01.replace('-',' ')
text_len=[len(x) for x in string_01.split()]
len(text_len)

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [9]:
def main(string_01, letter):
    string_01= string_01.replace('\'','')
    string_01= string_01.replace(',','')
    string_01= string_01.replace('.','')
    string_01= string_01.replace('?','')
    #print(string_01)
    string_01= string_01.split()
    for word in string_01:
        if word[0].lower() == letter.lower():
            print(word)
letter=input("Введите букву: ")
main(string_01, letter)

Введите букву: w
written
winners
When
winner
writes
which
What

In [10]:
letter=input("Введите букву: ")
main(string_01, letter)

Введите букву: a
always
and
and
As
a
agreed

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [6]:
import random

In [11]:
import random
num_int=random.randint(100000,999999)
x=random.randint(0,5)
num=str(num_int)
#print(x)
#print(num)
print(num[:x]+'3'+num[x+1:])

780338

In [26]:
import random
num_int=random.randint(100000,999999)
x=random.randint(0,5)
num=str(num_int)
print(x)
print(num)
print(num[:x]+'3'+num[x+1:])

2
295504
293504

#### Задача 3

Дан список:

In [14]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [15]:
suma=0
for num in list_01:
    if 10<num<100 or 200<num<500 :
        #print(num)
        suma+=num
suma

1291

In [16]:
sum([num for num in list_01 if 10<num<100 or 200<num<500])

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [18]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [19]:
diction={
}
for i in students:
    diction[i[0]]=i[1:]
diction

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [21]:
def zamena(key, new_group):
    value= diction.get(key)
    value[-1]= new_group
num_student=str(input("Введите номер студента: "))
group=input("Введите группу: ")
zamena(num_student,group)
diction

Введите номер студента: 0001
Введите группу: баг1802

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'баг1802'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

In [22]:
num_student=str(input("Введите номер студента: "))
group=input("Введите группу: ")
zamena(num_student,group)
diction

Введите номер студента: 1102
Введите группу: баг1802

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'баг1802'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'баг1802'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [23]:
def info(group):
    for value in diction.values():
        if value[-1]==group:
            print(value[0]+" "+value[1]+" "+value[2])
group=input("Введите группу: ")
info(group)

Введите группу: баг1802
Антонов Антон Игоревич
Богов Артем Игоревич

#### Задача 5

Дана матрица:

In [1]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [4]:
s=0
for i in range(len(matrix)):
    s+=sum(matrix[i])
s

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [25]:
max([sum(i) for i in zip(*matrix)])

22