**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [6]:
import pandas as pd
film =pd.read_csv('ratings.csv').query('rating =={}'.format(5.0))
film['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
power_csv = pd.read_csv('power.csv')
filter_country = power_csv [((power_csv['country']=='Latvia') | (power_csv['country']=='Lithuania') | (power_csv['country']=='Estonia')) ]
filter_all = filter_country[( ((filter_country['category'] ==4)| (filter_country['category'] ==12) | (filter_country['category'] ==21))&
                             (filter_country['quantity'] > 0) & (filter_country['year'] >= 2005) & (filter_country['year'] <= 2010))]
sum(filter_all['quantity'])

240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [4]:
pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1012641,-,1011254,"0,14 %",01387,19:20:00
1,NaN,EUR/RUB,917036,-,912570,"0,49 %",04466,19:19:00
2,NaN,USD/RUB,784035,-,776813,"0,93 %",07222,19:19:00
3,NaN,JPY/RUB,07439,-,07390,"0,66 %",00049,19:20:00
4,NaN,CNY/RUB,116573,-,115681,"0,77 %",00892,19:19:00
5,NaN,CHF/RUB,857459,-,850555,"0,81 %",06904,19:19:00
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11699,-,11749,"-0,43 %",-00050,19:19:00
8,NaN,EUR/GBP,09053,-,09027,"0,29 %",00026,19:19:00
9,NaN,EUR/JPY,1232570,-,1235000,"-0,20 %",-02430,19:19:00
10,NaN,EUR/CHF,10696,-,10729,"-0,30 %",-00033,19:19:00
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08549,-,08511,"0,44 %",00038,19:20:00
13,NaN,USD/GBP,07741,-,07682,"0,77 %",00059,19:19:00
14,NaN,USD/JPY,1053735,-,1051210,"0,24 %",02525,19:19:00
15,NaN,USD/CHF,09144,-,09133,"0,12 %",00011,19:19:00
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),08100,-,08100,"0,20 %",00000,19:19:00
18,NaN,JPY/GBP,00074,-,00073,"0,52 %",00000,19:20:00
19,NaN,JPY/USD,00095,-,00095,"-0,25 %",00000,19:19:00
20,NaN,JPY/CHF (100:1),08700,-,08700,"-0,12 %",00000,19:19:00
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,12921,-,13016,"-0,73 %",-00095,19:19:00
23,NaN,GBP/JPY,1361419,-,1368387,"-0,51 %",-06968,19:20:00
24,NaN,GBP/EUR,11046,-,11076,"-0,27 %",-00030,19:19:00
25,NaN,GBP/CHF,11814,-,11886,"-0,60 %",-00071,19:19:00
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,11814,-,11886,"-0,60 %",-00071,19:19:00
28,NaN,EUR/CHF,10696,-,10729,"-0,30 %",-00033,19:19:00
29,NaN,JPY/CHF (100:1),08700,-,08700,"-0,12 %",00000,19:19:00
30,NaN,USD/CHF,09144,-,09133,"0,12 %",00011,19:19:00
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,331566,-,332981,"-0,43 %",-01415,19:20:00
33,NaN,USD/UAH,283450,-,283400,"0,02 %",00050,19:19:00
34,NaN,CHF/UAH,310019,-,310303,"-0,09 %",-00285,19:19:00
35,NaN,GBP/UAH,366217,-,368930,"-0,74 %",-02713,19:20:00

**Задание 4**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class

In [5]:
data = pd.read_csv('ratings.csv')
data2 = data.loc[data['rating'] <=2].copy()
data2['class'] = 'низкий рейтинг'
data24 = data.loc[(data['rating']>2)& (data['rating'] <=4)].copy()
data24['class'] = 'средний рейтинг'
data45 = data.loc[(data['rating']==4.5) | (data['rating']==5)].copy()
data45['class'] = 'высокий рейтинг'
new_data = pd.concat([data45, data24, data2], ignore_index = True)
new_data

          userId  movieId  rating   timestamp            class
0              1      296     5.0  1147880044  высокий рейтинг
1              1      307     5.0  1147868828  высокий рейтинг
2              1      665     5.0  1147878820  высокий рейтинг
3              1     1237     5.0  1147868839  высокий рейтинг
4              1     2351     4.5  1147877957  высокий рейтинг
...          ...      ...     ...         ...              ...
25000090  162541     5927     1.5  1240952124   низкий рейтинг
25000091  162541     6793     0.5  1240952009   низкий рейтинг
25000092  162541     6934     2.0  1240953104   низкий рейтинг
25000093  162541     7173     1.5  1240950668   низкий рейтинг
25000094  162541    56176     2.0  1240950697   низкий рейтинг

[25000095 rows x 5 columns]

**Задание 5**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [13]:
keywords = pd.read_csv('keywords.csv')
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],'Северо-Запад': ['петербург', 'псков', 'мурманск'],'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
curr = {}
for region in geo_data:
    city = geo_data[region]
    curr.update({key:value for key,value in zip(city, [region for r in city])})
keywords['region'] = keywords['keyword'].map(curr)
keywords['region'] = keywords['region'].fillna('undefined')
keywords

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

**Задание 6**
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [14]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [15]:
total = ratings.merge(movies, on=["movieId"], how='inner')

years = []
for year in range(1950,2010):
    years.append(year)

In [16]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900

In [17]:
total['year'] = total['title'].apply(production_year)
tot = total.pivot_table(index=['year'], values = 'rating', aggfunc='mean')
totalS = tot.sort_values(by = ['rating'], ascending = False)
totalS

        rating
year
1957  3.999492
1954  3.985693
1972  3.956477
1962  3.929445
1952  3.895315
...        ...
1990  3.435736
2005  3.434087
2000  3.420897
1997  3.410704
1996  3.352833

[61 rows x 1 columns]